<div class="card card-success">
  <div class="card-header">
    <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">

      <li class="nav-item">
        <a class="nav-link active text-bold" data-toggle="tab" href="#add_product_category_tab"
          id="add_product_category_tab_link" role="tab">Add Product Category</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  text-bold" data-toggle="tab" href="#view_product_category_tab"
          id="view_product_category_tab_link" role="tab">View Product Category</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  text-bold" data-toggle="tab" href="#add_product_attribute_tab"
          id="add_product_attribute_tab_link" role="tab">Add Product Attributes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  text-bold" data-toggle="tab" href="#view_product_attribute_tab"
          id="view_product_attribute_tab_link" role="tab">View Product Attributes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  text-bold" data-toggle="tab" href="#add_product_tab" id="add_product_tab_link"
          role="tab">Add Product</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-bold" data-toggle="tab" href="#view_product_tab" id="view_product_tab_link"
          role="tab">View Product</a>
      </li>

    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content text-center">

      <div class="tab-pane active" id="add_product_category_tab" role="tabpanel">
        <div class="row justify-content-center">
          <div class="col-6">
            <form action="" id="categoryForm">
              <div class="form-group">
                <label for="productCategory">Product Category</label>
                <input type="text" class="form-control" name="productCategory" id="productCategory"
                  aria-describedby="helpId" placeholder="Product Category" required>
                {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
              </div>

              <div class="form-group">
                <label for="productSubCategory">Product Sub Category</label>
                <input type="text" class="form-control" name="productSubCategory" id="productSubCategory"
                  aria-describedby="helpId" placeholder="Product Sub Category" required>
                {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
              </div>

              <div class="upload__box_product_category_image">
                <div class="upload__btn-box_product_category_image">
                  <label class="upload__btn_product_category_image">
                    <p>Upload Product Category Image</p>
                    <input type="file" multiple="" name="product_category_image_upload" id="product_category_image_upload"
                      data-max_length="10" class="upload__inputfile_product_category_image">
                  </label>
                </div>
                <div class="upload__img-wrap_product_category_image"></div>
              </div>
              <button type="button" name="addProductCategoryBtn" id="addProductCategoryBtn"
                class="btn btn-primary btn-lg btn-block"> Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="view_product_category_tab" role="tabpanel">

        <div class="row">
          <div class="col-12">
            <table id="view_product_category_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Category</th>
                  <th>Sub Category</th>
                  <th>Action</th>
                </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="add_product_attribute_tab" role="tabpanel">

        <div class="row justify-content-center">
          <div class="col-6">
            <form action="" id="productAttributeForm">
              <div class="form-group">
                <label for="product_attribute_name">Product Attribute Name</label>
                <input type="text" class="form-control" name="productAttributeName" id="productAttributeName"
                  aria-describedby="helpId" placeholder="Product Attribute Name" required>
                {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
              </div>

              <div class="form-group">
                <label for="product_attribute_name">Value</label>
                <input type="text" class="form-control" name="productAttributeValue" id="productAttributeValue"
                  aria-describedby="helpId" placeholder="Value" required>
                {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
              </div>

              <button type="button" name="add_product_attribute_btn" id="add_product_attribute_btn"
                class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="view_product_attribute_tab" role="tabpanel">

        <div class="row justify-content-center">
          <div class="col-12">
            <table id="view_product_attribute_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Attribute Name</th>
                  <th>Attribute Value</th>
                  {{!-- <th>Action</th> --}}
                </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="add_product_tab" role="tabpanel">
        <form action="" id="addProductForm">
          <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="product_name">Product Name</label>
              <input type="text" class="form-control" name="product_name" id="product_name" aria-describedby="helpId"
                placeholder="Product Name" required>
              {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
            </div>

            <div class="form-group">
              <label for="product_price">Price</label>
              <input type="number" class="form-control" name="product_price" id="product_price"
                aria-describedby="helpId" placeholder="Price" required>
              {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
            </div>

            <div class="form-group">
              <label for="product_quantity">Quantity</label>
              <input type="number" class="form-control" name="product_quantity" id="product_quantity"
                aria-describedby="helpId" placeholder="Quantity" required>
              {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
            </div>

            <div class="form-group">
              <label for="product_category_list">Product Category</label>
              <select class="form-control" name="product_category_list" id="product_category_list" required>

              </select>
            </div>
            {{!-- <div class="form-group">
              <label for="product_category">Product Category</label>
              <select class="select2" name="product_category" id="product_category" multiple="multiple"
                style="width: 100%" data-placeholder="Select Class" name="select_classes[]">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div> --}}
          </div>

          <div class="col-6">

            <div class="form-group">
              <label for="product_attribute_list">Product Attribute</label>
              <select class="select2" name="product_attribute_list" id="product_attribute_list" multiple="multiple"
                style="width: 100%" data-placeholder="Select Class" name="select_classes[]" required>

              </select>
            </div>

            <div class="form-group">
              <label for="tags_input">Product Tags</label>
              <input type="text" class="form-control" name="tags" id="tags_input" aria-describedby="helpId"
                placeholder="Enter product tags" required>
              {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
            </div>

            <div class="form-group">
              <label for="product_description">Product Description</label>
              <textarea class="form-control" id="product_description" rows="3" required></textarea>
            </div>
          </div>

          <div class="upload__box">
            <div class="upload__btn-box">
              <label class="upload__btn">
                <p>Upload images</p>
                <input type="file" multiple="" name="product_image_upload" id="product_image_upload"
                  data-max_length="10" class="upload__inputfile" required>
              </label>
            </div>
            <div class="upload__img-wrap"></div>
          </div>
        </div>
        </form>

        <div class="row justify-content-center">
          <div class="col-6">
            <button type="button" name="add_product_btn" id="add_product_btn"
              class="btn btn-primary btn-lg btn-block">Add Product</button>
          </div>
        </div>

      </div>

      <div class="tab-pane " id="view_product_tab" role="tabpanel">

        {{!-- <div class="row">
          <div class="col-4 " style="display: grid; grid-template-columns:1fr 1fr 1fr" id="product_div">

          </div>
        </div> --}}
        <div class="row">
          <div class="col-12">
            <table id="view_product_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  {{!-- <th>ID</th> --}}
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  {{!-- <th>Description</th> --}}
                  <th>Category</th>
                  <th>Sub Category</th>
                  {{!-- <th>Attributes</th> --}}
                  {{!-- <th>Tags</th> --}}
                  <th>Images</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="view_product_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Product Detail </h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12" id="view_more_product_info">
            <p id="categoryId"></p>
            <p id="category"></p>
            <p id="subCategory"></p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form action="" id="edit_category_form">
      <div class="modal-body">      
          <p id="categoryIdEdit_p"></p>
        <div class="form-group">
          <label for="">Category</label>
          <input type="text" class="form-control" name="category_edit_input" id="category_edit_input" aria-describedby="helpId" placeholder="Category" required>
          
        </div>
        <div class="form-group">
          <label for="">Sub Category</label>
          <input type="text" class="form-control" name="sub_category_edit_input" id="sub_category_edit_input" aria-describedby="helpId" placeholder="Sub Category" required>
          
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="edit_category_btn">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you sure you want to delete?</p>
        <p id="category_id_p_del"></p>
        <p id="category_p_del"></p>
        <p id="sub_category_p_del"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete_category_btn">Ok</button>
      </div>
    </div>
  </div>
</div>


{{!-- Edit Product Modal --}}

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="">
      <div class="modal-body">
        
          <div class="form-group">
            <label for="product_name_edit" class="col-form-label">Product Name:</label>
            <input type="text" name="product_name_edit" class="form-control" id="product_name_edit" required>
          </div>
          <div class="form-group">
            <label for="product_price_edit" class="col-form-label">Price:</label>
            <input type="number" name="product_price_edit" class="form-control" id="product_price_edit" required>
          </div>
          <div class="form-group">
            <label for="product_quantity_edit">Qauntity:</label>
            <input type="number" class="form-control" name="product_quantity_edit" id="product_quantity_edit" aria-describedby="helpId" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="product_description_edit">Product Description:</label>
            <textarea class="form-control" name="product_description_edit" id="product_description_edit" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="product_category_edit">Product Category</label>
            <select class="form-control" name="product_category_edit" id="product_category_edit" required>
              
            </select>
          </div>
          <div class="form-group">
              <label for="product_attribute_list_edit">Product Attribute</label>
              <select class="select2" name="product_attribute_list_edit" id="product_attribute_list_edit" multiple="multiple"
                style="width: 100%" data-placeholder="Select Class" name="select_attr_classes_edit[]" required>
              </select>
            </div>
          <div class="form-group">
              <label for="tags_input_edit">Product Tags</label>
              <input type="text" class="form-control" name="tags" id="tags_input_edit" aria-describedby="helpId"
                placeholder="Enter product tags" required>
              {{!-- <small id="helpId" class="form-text text-muted">Help text</small> --}}
          </div>
          <div class="form-group">
              <label for="related_product_list_edit">Related Product</label>
              <select class="select2" name="related_product_list_edit" id="related_product_list_edit" multiple="multiple"
                style="width: 100%" data-placeholder="Select Class" name="select__related_products_edit[]">
              </select>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info">Edit Product</button>
      </div>
      </form>
    </div>
  </div>
</div>